<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<style>

    *{
        margin:0px;
        padding:0px;
    }
    table{
        margin:200px auto;
        text-align:center;
    }
    tr:nth-of-type(even){
        background:rgba(0,0,0,0.1);
    }
    tr{
        height:40px;
    }



</style>
<body>

<form th:action="@{/index}">
    <table border="1px" cellspacing="2px" cellpadding="0px">
        <tr>
            <td colspan="9">
                <label>姓名：</label>
                <input type="text" name="name" />
                <input type="submit" value="查询" class="submit" />
            </td>
        </tr>
        <tr>
            <td colspan="9"><a th:href="@{/addStudentPage}">添加学生</a></td>
        </tr>
        <tr>
            <td>序号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>生日</td>
            <td>性别</td>
            <td>简介</td>
            <td>头像</td>
            <td>生活照</td>
            <td>操作</td>
        </tr>
        <div th:if="${students != null and students.size() > 0}">
            <tr th:each="student,status:${students}">
                <td>[[${status.count }]]</td>
                <td>[[${student.name }]]</td>
                <td>[[${student.age }]]</td>
                <td>[[${#dates.format(student.birth,"yyyy-MM-dd HH:mm:ss")}]]</td>
                <td>[[${student.sex }]]</td>
                <td>[[${student.intr }]]</td>
                <td>
                    <img th:src="${student.headImg}" alt="">
                </td>
                <td>
                    <img th:src="${student.photos.split(',')[0]}" alt="">
                </td>
                <td>
                    <input type="button" value="修改"> |
                    <input type="button" value="删除">
                </td>
            </tr>
        </div>
        <div th:unless="${students != null and students.size() > 0}">
            <tr>
                <td colspan="5">没有查询到数据！</td>
            </tr>
        </div>

<!--        <tr>-->
<!--            <td colspan="5">-->
<!--                <a href="${ctx }/book/bookList?pageIndex=1&flag=${flag}&condition=${condition}">首页</a>-->
<!--                <a href="${ctx }/book/bookList?pageIndex=${page.pageIndex-1 }&flag=${flag}&condition=${condition}">上一页</a>-->
<!--                <a href="${ctx }/book/bookList?pageIndex=${page.pageIndex+1 }&flag=${flag}&condition=${condition}">下一页</a>-->
<!--                <a href="${ctx }/book/bookList?pageIndex=${page.totalPage }&flag=${flag}&condition=${condition}">末页</a>-->
<!--                <span>第${page.pageIndex }页/共${page.totalPage }页</span>-->
<!--            </td>-->
<!--        </tr>-->
    </table>
</form>


<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(function(){
        // if("${flag}" != ""){
        //     $.each($(".flag option"),function(i,e){
        //         if("${flag}" == $(e).val()){
        //             $(this).attr("selected",true);
        //         }
        //     });
        // }
    });
</script>

</body>
</html>