<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<style>

    *{
        margin:0px;
        padding:0px;
    }
    table{
        margin:200px auto;
        text-align:center;
    }
    tr:nth-of-type(even){
        background:rgba(0,0,0,0.1);
    }
    tr{
        height:40px;
    }



</style>
<body>

<form th:action="@{/index}">
    <table border="1px" cellspacing="2px" cellpadding="0px">
        <tr>
            <td colspan="9">
                <label>姓名：</label>
                <input type="text" name="name" />
                <input type="submit" value="查询" class="submit" />
            </td>
        </tr>
        <tr>
            <td colspan="9"><a th:href="@{/addStudentPage}">添加学生</a></td>
        </tr>
        <tr>
            <td>序号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>生日</td>
            <td>性别</td>
            <td>简介</td>
            <td>头像</td>
            <td>生活照</td>
            <td>操作</td>
        </tr>
        <div th:if="${page != null and page.size > 0}">
            <tr th:each="student,status:${page.list}">
                <td>[[${student.id }]]</td>
                <td>[[${student.name }]]</td>
                <td>[[${student.age }]]</td>
                <td>[[${#dates.format(student.birth,"yyyy-MM-dd HH:mm:ss")}]]</td>
                <td>[[${student.sex }]]</td>
                <td>[[${student.intr }]]</td>
                <td>
                    <img th:src="${student.headImg}" alt="">
                </td>
                <td>
                    <img th:src="${student.photos.split(',')[0]}" alt="">
                </td>
                <td>
                    <a th:href="@{/updStudentPage(id=${student.id})}">修改</a> |
<!--                    <input type="button" value="修改" th:studentId="${student.id}" th:onclick="updById(this);"> |-->
                    <input type="button" th:studentId="${student.id}" th:onclick="delById(this);" value="删除">
                </td>
            </tr>
        </div>
        <div th:unless="${page != null and page.size > 0}">
            <tr>
                <td colspan="9">没有查询到数据！</td>
            </tr>
        </div>

        <tr>
            <td colspan="9">
                <a th:href="@{/index(currentPage=${page.pageNum-1})}">上一页</a>
                <a th:href="@{/index(currentPage=${num})}" th:each="num:${#numbers.sequence(1,page.pages)}">[[${num}]]</a>
                <a th:href="@{/index(currentPage=${page.pageNum+1})}">下一页</a>
                <span>第[[${page.pageNum }]]页/共[[${page.pages }]]页 共[[${page.total}]]条数据</span>
            </td>
        </tr>

    </table>
</form>


<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script>

    $(function(){



    });

    function delById(obj) {
        $.ajax({
            url:"[[@{/delStudent}]]",
            data:"id="+$(obj).attr("studentId"),
            type:"get",
            dataType:"JSON",
            success:function(data){
                if(data.result=="删除成功！"){
                    $(obj).parents("tr").remove();
                }else{
                    alert("删除失败");
                }
            },
            error:function(a,b,c){
                alert(c);
            }
        });
    }
</script>

</body>
</html>