<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<style>

    #content{
        width: 800px;
        margin: 0px auto;
    }

    p,h2{
        text-align: center;
    }

    table{
        border-collapse:collapse;
    }

    td{
        width: 200px;
        height: 25px;
        text-align: center;
        border: 1px black solid;
    }

    .oddLine{
        background-color: coral;
    }

</style>
<body>

<div id="content">
    <h2>学生信息管理系统</h2>

    <p>当前用户：[[${session.user.userName}]]</p>


        <table>

            <tr>
                <td>序号</td>
                <td>姓名</td>
                <td>年龄</td>
                <td>生日</td>
                <td>性别</td>
                <td>简介</td>
                <td>头像</td>
                <td>操作</td>
            </tr>
            <tr th:each="student,status : ${students}" th:class="${status.odd}?'oddLine':''">
                <td th:text="${student.id}">序号</td>
                <td>[[${student.name}]]</td>
                <td>[[${student.age}]]</td>
                <td>[[${#dates.format(student.birth, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                <td>[[${student.sex}]]</td>
                <td>[[${student.intr}]]</td>
                <td>
                    <img th:src="${student.headImg}">
                </td>
                <td>
                    <button>修改</button> |
                    <button>删除</button>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>